<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Todo Lists</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
  <h1>My Todo List</h1>
  <div id="todo-table">
    <form>
      <input type="text" placeholder="Add new todo..." name="item" required>
      <button type="submit">Add Item</button>
    </form>

    <ul>
      <li>item 1</li>
      <li>item 2</li>
      <li>item 3</li>
    </ul>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>